# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Data artifacts
data/processed/
data/raw/

# Trained models
models/

# Logs
logs/

# Jupyter
.ipynb_checkpoints/

# OS
Thumbs.db
.DS_Store
